<ion-view style="" title="Sobre">
    <div class="header">Sobre</div>  
    <ion-content class="has-header about" overflow-scroll="true" padding="true">
      <p><center><h3>É a sua cidade que está em jogo</h3></center></p>
      <p>O prefeito e candidato convidou a população a se mobilizar e organizar reuniões e atividades de rua, como bicicletadas, caminhadas e rodas de samba, enfim, tocar corações em mentes sobre a mudança que já está em curso na cidade e que precisa continuar.</p>
      <p>Veja neste app as ações que acontecem para ocupar a cidade de São Paulo.</p>
      <p><center><h4>Participe, ocupe a cidade!<br/><br/>Vamos reeleger o Haddad!</h4></center></p>
    </ion-content>
</ion-view>
